@import './variables.less';

.btn {

    &,
    &:link,
    &:visited {

        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 2.2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.2rem;
        font-weight: 400;
        //for button element
        border: none;
        cursor: pointer;

        @media (max-width: 1024px) {
            padding: 0.8rem 1.6rem;
        } 

        @media (max-width: 416px) {
            padding: 0.8rem 1.2rem;
        }         
    }

    &:hover {
        transform: translateY(-0.3rem);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }  
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(@color-black,.2);
    }

    &--primary {
        background-color   : @color-primary;
        color        : @color-black;
   
        &:hover {
            background-color: @color-primary-dark;
        }
    }

    &--primary-inv {
        background-color   : @color-black;
        color              : @color-primary;
   
        &:hover {
             color: @color-primary-dark;
        }
    }    

}

.btn-text {
    &,
    &:link,
    &:visited {
        
        text-transform: uppercase;
        font-family    : inherit;
        cursor         : pointer;        
        font-size  : 1.3rem;
        font-weight: 600;
        color      : @color-primary;
        display: inline-block;
        text-decoration: none;
        padding: .3rem;
        transform: all .2s;
        //for button
        background: transparent;
        border: none;
        cursor: pointer;        
    }

    @media (max-width: 576px) {
        font-size: 1.5rem;
    }

    &:hover,
    &:focus {
        outline: none;
        font-weight: 600;
        transform: translateY(-0.2rem);
    }

    &:active {
        font-weight: 600;
        transform: translateY(0);
    }
}