@import './variables.less';


.container {
    margin: 0rem auto;
}

.header {
    font-size       : 1.4rem;
    height          : 7rem;
    padding         : 4rem 6rem;
    background-color: @color-menu;
    border-bottom   : @line;

    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.content {
    margin   : 2rem auto;
    max-width: 120rem;
    display  : flex;
}

.footer {
    display         : flex;
    height          : @footer-height;
    padding         : 6rem;
    font-size       : 1.4rem;
    justify-content : space-between;
    background-color: @color-menu;
    align-items     : center;

    position: absolute;
    bottom  : 0;
    width   : 100%;
}

.toastr-success {
  font-size: 1.3rem !important;
  padding: 20 !important;
  color: rgb(0, 102, 68) !important;
  min-height: 60px !important;
  border-radius: 4px !important;
  background-color: rgb(227, 252, 239) !important;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 3px 8px !important;
}

.toastr-success-pg {
  background: rgb(54, 179, 126) !important;
  height: 4 !important;
}

.toastr-warn {
  font-size: 1.3rem !important;
  padding: 20 !important;
  color: rgb(255, 139, 0) !important;
  min-height: 60px !important;
  border-radius: 4px !important;
  background-color: rgb(255, 250, 230) !important;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 3px 8px !important;
}

.toastr-warn-pg {
  background: rgb(255, 171, 0) !important;
  height: 4 !important;
}  

.toastr-info {
  font-size: 1.3rem !important;
  padding: 20 !important;
  color: rgb(80, 95, 121) !important;
  min-height: 60px !important;
  border-radius: 4px !important;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 3px 8px !important;
}
  
.toastr-info-pg {
  background: rgb(38, 132, 255) !important;
  height: 4 !important;
}  

.toastr-error {
  font-size: 1.3rem !important;
  padding: 20 !important;
  color: rgb(191, 38, 0) !important;
  min-height: 60px !important;
  border-radius: 4px !important;
  background-color: rgb(255, 235, 230) !important;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 3px 8px !important;
}
  
.toastr-error-pg {
  background: rgb(255, 86, 48) !important;
  height: 4 !important;
}  

.toastr-close-button {
  font-weight: bold !important;
  font-size: 14px !important;
  background: transparent !important;
  outline: none !important;
  border: none !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
  opacity: 0.7 !important;
  transition: .3s ease !important;
  align-self: flex-start !important;
}  